{{#if list.length}}
  {{#each list}}
    <div
      id="popup-modal-{{this._id}}"
      tabindex="-1"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
    >
      <div class="relative p-4 w-full max-w-md max-h-full">
        <form
          class="relative bg-white rounded-lg shadow dark:bg-gray-700"
          action="/delete/{{this._id}}?_method=DELETE"
          method="post"
        >
          <button
            type="button"
            class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="popup-modal-{{this._id}}"
          >
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="p-4 md:p-5 text-center">
            <svg
              class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            <h3
              class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"
            >Are you sure you want to delete this item?</h3>
            <button
              data-modal-hide="popup-modal-{{this._id}}"
              type="submit"
              class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
            >
              Yes, I'm sure
            </button>
            <button
              data-modal-hide="popup-modal-{{this._id}}"
              type="button"
              class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            >No, cancel</button>
          </div>
        </form>
      </div>
    </div>
  {{/each}}
{{/if}}
<div class="max-w-7xl mx-auto p-10">
  {{#if errorMessage}}
    <div
      class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <svg
        class="flex-shrink-0 inline w-4 h-4 me-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Error message</span>
      <div>
        <span class="font-medium">Alert !</span>
        {{errorMessage}}
      </div>
    </div>
  {{/if}}
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <a href="/create" class="ml-auto">
      <button
        class="px-4 py-2 my-4 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-500 shadow-lg"
      >
        Add New
      </button>
    </a>
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">
            Section name
          </th>
          <th scope="col" class="px-6 py-3">
            Section description
          </th>
          <th scope="col" class="px-6 py-3">
            Duration
          </th>
          <th scope="col" class="px-6 py-3">
            IsMainTask
          </th>
          <th scope="col" class="px-6 py-3">
            Course
          </th>
          <th scope="col" class="px-6 py-3">
            Actions
          </th>
          <th scope="col" class="px-6 py-3">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        {{#if list.length}}
          {{#each list}}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{this.sectionName}}
              </th>
              <td scope="row" class="px-6 py-4">
                {{this.sectionDescription}}
              </td>
              <td class="px-6 py-4">
                {{this.duration}}
              </td>
              <td class="px-6 py-4">
                {{this.isMainTask}}
              </td>
              <td class="px-6 py-4">
                {{this.course.courseName}}
              </td>
              <td class="px-6 py-4">
                <a
                  href="/update/{{this._id}}"
                  class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >Edit</a>
              </td>
              <td class="px-6 py-4">
                <span
                  data-modal-target="popup-modal-{{this._id}}"
                  data-modal-toggle="popup-modal-{{this._id}}"
                  href="#"
                  class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >Delete</span>
              </td>
            </tr>
          {{/each}}
        {{else}}
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 w-full"
          >
            <td
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white w-full flex justify-center"
            >
              No data
            </td>

          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>